{% extends "base.html" %} {% block title %} My Flask App {% endblock %} 

{% set active_page = ctgr.category_name %}

{% block
page_content %}
<main>
  <div id="mySidepanel" class="sidepanel">
    <div class="row">
      <div class="col-md-8">
        <h2>Filter:</h2>
      </div>
      <div class="col-md-4">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      </div>
    </div>
    {% if colors %}
    <button type="button" class="collapsible">Color</button>
    <div class="content">
      {% for color in colors%}
      

      <a id="color" href="javascript:addToUrl('color','{{color}}' );">
        <div
          style="padding: 10px 10px 10px 10px; width: 100%; height: 15px; border: 1px solid black ; background-color: 
          {% if color == 'Grape' %}
          maroon
          {%else%}
          {{color.replace(" ", "")}};
          {%endif%}
          
          "
        >
          &nbsp;
        </div>
        {{color}}
      </a>

      {% endfor%}
    </div>

    {%endif%} {% if styles %}
    <button type="button" class="collapsible">Style</button>
    <div class="content">
      {% for style in styles%}

      <a id="color" href="javascript:addToUrl('style','{{style}}' );">
        {{style}}
      </a>

      {% endfor%}
    </div>
    {%endif%}
    <a
      href="{{url_for('main.listing',category=ctgr.category_name)}}"
      type="button"
      class="rmvFilter"
      >Remove filter</a
    >
  </div>

  <div class="container-fluid">
    <div class="page-header">
      <h1>{{ctgr.category_name.capitalize()}}</h1>
    </div>
    <div class="row sortField" style="margin-bottom: 40px">
      <form action="/listing/{{ctgr.category_name}}" id="sortForm"></form>
      <div class="col">
        <button class="openbtn" onclick="openNav()">☰ Filter</button>
        <label for="sort">Sort by</label>
        <select
          name="sort"
          id="sort"
          form="sortForm"
          onchange="this.form.submit()"
        >
          <option value=""></option>
          <option value="alpha">Name A-Z</option>
          <option value="r_alpha">Name Z-A</option>
          <option value="price_asc">Price ascending</option>
          <option value="price_desc">Price descending</option>
        </select>
      </div>
    </div>

    <div class="row" style="padding: 0 !important; margin: 0 !important">
      {% if products|length > 0 %} {% for product in products%}

      <div class="col-3">
        <div class="pdCard">
          <div class="row pdBanner">
            <div class="col-9">
              {% if product.tag=='None'%} &nbsp; {%else%} {% if product.tag%}
              <h6>{{product.tag}}</h6>
              {%endif%} {%endif%}
            </div>
            <div class="col-3">
              <a href="#"><i class="bi bi-heart"></i></a>
            </div>
          </div>

          <a href="/product/{{product.id}}">
            <div class="row">
              <img
                src="{{ url_for('static',filename='assets/Product_Image/'+product.product_img) }}"
                alt="..."
              />
            </div>

            <div class="pdInf">
              <div class="row pdName">
                <h2>{{product.product_name}}</h2>
              </div>
              <div class="row pdPrice">
                <h5>&#163; {{product.price}}</h5>
              </div>
            </div>
          </a>
          <div class="row">
            <div class="col-md-6">&nbsp;</div>

            <div class="col-md-6 addCart">
              <button>
               
                <form action="{{url_for('main.BuyNow', product_id=product.id)}}">
                  <input
                type="hidden"
                id="quantity"
                name="quantity"
                step="1"
                value="1"
              />
                  <select name="size_input" id="size_input">
                    <option value="38">Size 38</option>
                    <option value="39">Size 39</option>
                    <option value="40">Size 40</option>
                    <option value="41">Size 41</option>
                    <option value="42">Size 42</option>
                  </select>
                  <input type="submit" value="Buy" />
            </form>
              </button>
            </div>
          </div>
        </div>
      </div>

      {%endfor%} {%else%}
      <center>
        <h1>Sorry!!</h1>
        <h2>We currently dont have the product you are looking for</h2>
        <a
          class="backBtn"
          href="{{url_for('main.listing',category=ctgr.category_name)}}"
          >Back to shopping</a
        >
      </center>
      {%endif%}
    </div>
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidepanel").style.width = "25vw";
    }

    function closeNav() {
      document.getElementById("mySidepanel").style.width = "0";
    }
    function addToUrl(name, value) {
      var href = window.location.href;
      var param = name + "=" + value;
      if (href.includes(name)) {
        param_i = href.split("=");
        current = "";
        for (i = 0; i < param_i.length - 1; i++) {
          if (param_i[i].includes("color")) {
            current = param_i[i + 1].toString();
          }
          if (param_i[i].includes("style")) {
            current = param_i[i + 1].toString();
          }
        }
        href = href.replace(current, value);
        window.location.href = href;
      } else {
        if (href.includes("?")) {
          window.location.href = href + "&" + param;
        } else {
          window.location.href = href + "?" + param;
        }
      }
    }
  </script>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  </script>
</main>

{% endblock %}
