{% extends "base.html" %}

{% block title %}
My Flask App
{% endblock %}

{% block page_content %}
<main>

    <div class="container-fluid">
        <div class="row pdDetail">
            <div class="col-md-4">
                <img src="{{ url_for('static',filename='assets/Img/product/dusk.jpg')}}" alt="...">
                <div class="subImg row">
                    <div class="col-4"><img src="{{ url_for('static',filename='assets/Img/product/dusk-2.jpg')}}"
                            alt=""></div>
                    <div class="col-4"><img src="{{ url_for('static',filename='assets/Img/product/dusk-3.jpg')}}"
                            alt=""></div>
                    <div class="col-4"><img src="{{ url_for('static',filename='assets/Img/product/dusk-4.jpg')}}"
                            alt=""></div>



                </div>
            </div>
            <div class="col-md-2">
                <h1>&nbsp</h1>
            </div>
            <div class="col-md-6">
                <h1>Materia Dusk Brown</h1>
                <h6>Home Materia Dusk Brown</h6>
                <p>Reference MATDUSKBROWN36</p>
                <hr>
                <h5>Description: </h5>
                <h6>
                    > Synthetic Suede <br>
                    > Mesh<br>
                    > Insole made with recycled materials<br>
                    > Rubber Sole<br>
                </h6>
                <hr>
                <h2>&#163; 119.00</h2>
                <p>VAT included</p>
                <h4>Size</h4>
                <div class="row sizeChart">

                    <h5 id="" class="sizeCheck">34</h5>
                    <h5>35</h5>
                    <h5>36</h5>
                    <h5>37</h5>
                    <h5>38</h5>
                    <h5>39</h5>

                </div>
                <button class="btn1">Add to basket</button>
            </div>




        </div>


        <div class="row">
            <h1>PRODUCT REVIEW</h1>
        </div>
        <div class="row">
            <h1>RELATED PRODUCT</h1>
        </div>
    </div>

</main>


{% endblock %}