{% extends "base.html" %} {% block title %} My Flask App {% endblock %} {% set
active_page = category.category_name %} {% block page_content %}
<main>
  <div class="container-fluid">
    <div class="row pdDetail">
      <div class="col-md-4">
        <img
          src="{{ url_for('static',filename='assets/Product_Image/'+product.product_img) }}"
          alt="..."
        />
        <div class="subImg row">
          <div class="col-4">
            <img
              src="{{ url_for('static',filename='assets/Product_Image/'+product.product_subimg1)}}"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              src="{{ url_for('static',filename='assets/Product_Image/'+product.product_subimg2)}}"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              src="{{ url_for('static',filename='assets/Product_Image/'+product.product_subimg3)}}"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h1>&nbsp</h1>
      </div>
      <div class="col-md-6">
        <h1>{{product.product_name}}</h1>
        <p>{{category.category_name.capitalize()}} {{product.product_name}}</p>
        <p style="color: rgba(0, 0, 0, 0)" id="pd_id">{{product.id}}</p>
        <hr />
        <h5>Description:</h5>
        <h6 style="text-align: justify">{{product.desc}}</h6>

        <hr />
        {% if product.color %}
        <h5>Color: {{product.color}}</h5>
        {%endif%} {% if product.style %}
        <h5>Style: {{product.style}}</h5>
        {%endif%} {% if product.material %}
        <h5>Material: {{product.material}}</h5>
        {%endif%}

        <hr />
        <h2>&#163; {{product.price}}</h2>
        <p>VAT included</p>

        <h4>Size</h4>
        <div class="row sizeChart">
          {% for size in stock_size %} {% if size.stock > 0 %}
          <h5 class="size">
            {% if category.category_name=='accessories'%} {% if size.size == 1%}
            S {%endif%} {% if size.size == 2%} M {%endif%} {% if size.size ==
            3%} L {%endif%} {%else%} {{size.size}} {%endif%}
          </h5>
          {% else %}
          <h5 class="size" style="pointer-events: none">
            <s>{{size.size}}</s>
          </h5>
        </div>
        {% endif %} {% endfor %}

        <form
          action="http://127.0.0.1:5000/add_to_cart/{{product.id}}"
          method="GET"
        >
          <input type="hidden" name="size_input" id="size_input" value="" />
          <div class="row quantity">
            <div class="col-md-5">
              <label for="quantity">Quantity</label>
              <input
                type="number"
                id="quantity"
                name="quantity"
                step="1"
                value="1"
              />

              <p id="in_stock">&nbsp;</p>
            </div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-5">
              <button type="submit" class="btn1">Add to basket</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-5">
      <h1 class="moreCtgr">More {{category.category_name.capitalize()}}</h1>
    </div>
    <div class="row d-flex pdRow flex-row flex-nowrap">
      {% for pd in products%} {% if pd.id!=product.id%}

      <div class="col-3">
        <div class="pdCard">
          <div class="row pdBanner">
            <div class="col-9"></div>
            <div class="col-3">
              <a href="#"><i class="bi bi-heart"></i></a>
            </div>
          </div>

          <a href="/product/{{pd.id}}">
            <div class="row">
              <img
                src="{{ url_for('static',filename='assets/Product_Image/'+pd.product_img) }}"
                alt="..."
              />
            </div>

            <div class="pdInf">
              <div class="row pdName">
                <h2>{{pd.product_name}}</h2>
              </div>
              <div class="row pdPrice">
                <h5>&#163; {{pd.price}}</h5>
              </div>
            </div>
          </a>
          <div class="row">
            <div class="col-md-6">&nbsp;</div>

            <div class="col-md-6 addCart">
              <button>
               
                <form action="{{url_for('main.BuyNow', product_id=pd.id)}}">
                  <input
                type="hidden"
                id="quantity"
                name="quantity"
                step="1"
                value="1"
              />
                  <select name="size_input" id="size_input">
                    <option value="38">Size 38</option>
                    <option value="39">Size 39</option>
                    <option value="40">Size 40</option>
                    <option value="41">Size 41</option>
                    <option value="42">Size 42</option>
                  </select>
                  <input type="submit" value="Buy" />
            </form>
              </button>
            </div>
          </div>
        </div>
      </div>
      {%endif%} {%endfor%}
    </div>
  </div>

</main>
<script src="{{ url_for('static',filename='javascript/checkSizeStock.js')}}"></script>

{% endblock %}
