body {
  background-color: rgb(255, 255, 255);
  font-family: Montserrat;
}

.pdDetail {
  padding-top: 5vh;
  margin-left: 50px;
}

.pdDetail img {
  max-width: 100%;
  max-height: 100%;
}

.pdDetail .col-8 {
  /* background-color: red; */
  padding-left: 75px;
}

.pdDetail .col-8 h1 {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 25px;
  width: fit-content;
  box-shadow: 10px 10px rgb(74, 74, 74);
  margin-bottom: 25px;
}

.pdDetail .col-8 h4 {
  margin-top: 25px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: fit-content;
}
.sizeChart {
  padding-left: 10px;
}

.sizeChart h5 {
  float: left;
  display: block;
  width: fit-content;
  font-weight: lighter;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 10px;
}

.sizeCheck {
  background-color: black;
  color: white;
}

.size {
  background-color: none;
}

.btn1 {
  margin-top: 10vh;
  color: white;
  background-color: rgb(0, 0, 0);
  border-style: hidden;
  padding: 10px;
  width: fit-content;
  float: right;
  margin-right: 15vw;
  font-size: 25px;
  font-weight: lighter;
  box-shadow: 5px 5px rgb(74, 74, 74);
  transition: ease 0.2s;
}

.btn1:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 8px rgb(74, 74, 74);
  transform: scale(1.1);
  color: black;
}

.btn1:active {
  background-color: rgb(255, 252, 200);
  transform: scale(1.05);
}

.pdRow {
  display: grid;
  gap: 1rem;
  margin: auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-top: 1vh;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.pdRow::-webkit-scrollbar {
  display: none;
}
.pdCard {
  position: relative;
  background-color: white;
  height: 62vh;
  display: block;
  width: 22vw;
  margin-bottom: 100px;
  transition: 0.5s ease;
  /* box-shadow: 3px 3px rgb(74, 74, 74); */
  box-shadow: 3px 3px 8px rgba(183, 183, 183, 0.377);
}

.pdCard:hover {
  box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.377);
  transform: scale(1.02);
}

.pdCard a {
  text-decoration: none;
  color: black;
}

.pdCard img {
  max-width: 100%;
  max-height: 100%;
}

.pdSubImg img {
  max-width: 100%;
  max-height: 100%;
}

.pdBanner {
  width: 100%;
  margin: 0;
}
.pdBanner h6 {
  background-color: black;
  color: white;
  font-weight: bold;
  width: fit-content;
  padding: 10px;
}
.pdBanner a {
  padding: 10px;
  float: right;
  color: black;
}

.pdInf{
  padding-left: 2vw;
  padding-right: 0.5vw;
}

.addCart a:link{
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
}
.addCart a:visited{
  color: white;
}
.addCart a:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 227, 171);
}

.moreCtgr {
  color: white;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
  width: 25vw !important;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px !important;
  font-weight: bold
}


.sortField label{
  float: right;
  padding-left: 10px;
  padding-right: 5px;
  background-color: black;
  color: white;
}

.sortField select{
  float: right;
  border-radius: 0px;
  border: 1.3px solid black;
}



.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

ul {
  list-style-type: none;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  background-color: black;
}

.sidepanel .closebtn {
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}


.collapsible {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}