{% extends "base.html" %} {% block title %} My Flask App {% endblock %} {% block
page_content %}
<main>
  <div class="container-fluid">
    <div class="page-header">
      <h1>Shopping Cart</h1>
    </div>
    <div class="row">
      <div class="col-md-8 product_cart_list">
        {% if cart_items.all()|length > 0%}
        {% set count = namespace(value=1) %}
        <table class="table cart_table align-middle">
          <thead>
            <tr>
              <th style="width: 60%" scope="col">Product</th>
              <th style="width: 10%" scope="col">Price</th>
              <th style="width: 10%" scope="col">Quantity</th>
              <th style="width: 20%" scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for cart in cart_items%} 
            {% for pd in cart.product.query.filter_by(id=cart.product_id)%}
            <tr>
              <td>
                <div class="row">
                  <div class="col-md-2">
                    <img
                      class="pdImg"
                      src="{{ url_for('static',filename='assets/Product_Image/'+pd.product_img)}}"
                      alt=""
                    />
                  </div>

                  <div class="col-md-10">
                    <h3>{{pd.product_name}}</h3>

                    <p>Size: {{cart.size}}</p>
                  </div>
                </div>
              </td>
              <td style="text-align: center">
                <h5>&euro; &nbsp; {{pd.price}}</h5>
              </td>
              <td style="text-align: center">
                <input
                  class="quantity"
                  type="number"
                  id="quantity"
                  name="quantity"
                  step="1"
                  value="{{cart.quantity}}"
                />
              </td>
              <td class="each_price">
                <div class="row">
                  <div class="col-md-10">
                    <h5 style="text-align: center">
                      &euro; &nbsp; {{pd.price*cart.quantity}}
                    </h5>
                  </div>
                  <div class="col-md-2">
                    <a
                      class="remove_from_cart"
                      href="{{url_for('main.DeleteFromCart',cart_id=cart.id, product_id=pd.id,size=cart.size)}}"
                      >&times;</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            {%endfor%} {%endfor%}
          </tbody>
        </table>
        {% else %}
        {% set count = namespace(value=0) %}
        <center>
          <h1>Oops!</h1>
          <h2>Look like you do not have any product in your cart</h2>
          <a class="backBtn" href="{{url_for('main.listing',category='shoes')}}"
            >Back to shopping</a
          >
        </center>
        {%endif%}
        <p>( i ) Please double check your order before checkout</p>
      </div>
      <div class="col-md-4 checkout_pannel">
        <div class="row">
          <div class="col-md-8">
            <h6 id="quantity_total">{{carts|length}} Items</h6>
          </div>
          <div class="col-md-4" id="sum_price" style="text-align: right"></div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6>Discount</h6>
          </div>
          <div class="col-md-4" style="text-align: right">
            &euro; &nbsp; {{discount}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6>Shipping</h6>
          </div>
          <div class="col-md-4" style="text-align: right">Free</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-8">
            <h4>Total</h4>
          </div>
          <div class="col-md-4" style="text-align: right">
            <h4 id="total"></h4>
          </div>
        </div>
        <div class="row voucher_form">
          <form action="">
            <input
              type="text"
              id="voucher"
              name="voucher"
              value=""
              placeholder="Promo code"
            />
            <input type="submit" value="Submit" id="voucher_submit" />
          </form>
        </div>
  
        <div class="row">
          <a class="checkoutBtn {{'no_pointer' if count.value==0 else ''}}" href="{{url_for('auth.CheckOutAddress',n=n)}}"   >Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "EUR",
  });

  quantities = document.getElementsByClassName("quantity");
  quantity_field = document.getElementById("quantity_total");
  sum_price = document.getElementById("sum_price");
  each_prices = document.getElementsByClassName("each_price");
  total_price_before_discount = 0;
  total_quantity = 0;
  for (i = 0; i <= quantities.length - 1; i++) {
    console.log(quantities[i]);
    total_quantity += parseInt(quantities[i].value);
  }

  quantity_field.innerHTML = total_quantity + "   items";

  for (i = 0; i < each_prices.length; i++) {
    price = each_prices[i].innerText.toString().slice(4);
    console.log(price);
    total_price_before_discount += parseFloat(price);
  }
  // sum_price.innerHTML = "&euro;" + "&nbsp;" + total_price_before_discount.toFixed(2) ;
  sum_price.innerHTML = formatter
    .format(total_price_before_discount)
    .toString();
  total = document.getElementById("total");
  discount = {{discount}};
  total_price = total_price_before_discount + discount;

  total.innerHTML = formatter.format(total_price).toString();
</script>

{% endblock %}
