{% extends "ad_base.html" %}
{% set active_page = 'edit_product' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
My Flask App
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div id="backBtn" class="col-md-6">
            <a  href="{{url_for('admin.ManageProduct')}}"><h1><i class="bi bi-arrow-up-left-square-fill"></i></h1></a>
        </div>
        <div class="col-md-6">
        <h1 class="heading">EDIT PRODUCT PAGE</h1>
    </div>
    
    </div>
    </form>
    <form method="POST" action="{{url_for('admin.EditProduct',product_id=product.id)}}" class="form" enctype="multipart/form-data">
        {{form.csrf_token}}

        <div class="row">
            <div class="col-md-4">
                <fieldset class="form-field" id="mainImg">
                    <div class="row">



                        <img src="{{ url_for('static',filename='assets/Product_Image/'+product.product_img)}}" alt="">
                      
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="form-field">
                            <div class="row">
                                
                                <img src="{{ url_for('static',filename='assets/Product_Image/'+product.product_subimg1)}}"
                                    alt="">
                              
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="form-field">
                            <div class="row">
                                
                                <img src="{{ url_for('static',filename='assets/Product_Image/'+product.product_subimg2)}}"
                                    alt="">
                             
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="form-field">
                            <div class="row">
                                
                                <img src="{{ url_for('static',filename='assets/Product_Image/'+product.product_subimg3)}}"
                                    alt="">
                           
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h1>&nbsp</h1>
            </div>
            <div class="col-md-6">
                <fieldset class="form-field">
                    <div class="row">
                        <div class="row">
                            <h4>{{ form.product_name.label }}</h4>
                        </div>
                        <div class="row">
                            <h1 class="pdInput"> {{ form.product_name(value=product.product_name) }}</h1>
                            <h6>Home Materia Dusk Brown</h6>
                            <p>Reference MATDUSKBROWN36</p>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-field">
                    <div class="row">
                        <div class="row">
                            <h4>{{ form.desc.label }}</h4>
                        </div>
                        <div class="row">
                            <div class="pdDesc"> {{ form.desc(default=product.desc) }}</div>
                            <hr>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-field">
                    <div class="row">
                        <div class="row">
                            <h4>{{ form.price.label }}</h4>
                        </div>
                        <div class="row">
                            <h1 class="pdInput"> &#163;{{ form.price(value=product.price) }}</h1>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-field">
                    <div class="row">
                        <div class="col-md-6">
                        <div class="row">
                            <h4>{{ form.category.label }}</h4>
                        </div>
                        <div class="row">
                            <h4>{{ form.category }}</h4>
                        </div>
                    </div>
                </fieldset>
                    {{ form.submit(value='Update Product') }}
                </form>
                <hr>
                    <div class="col-md-6">
                    
                    </div>
                    </div>
                

                
                

            </div>
        </div>
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
    console.log('LOLOLOL')
    jah = "whatever you want";
    var ta = document.getElementsByClassName('pdDesc');
    ta.value = jah;
    $('.pdDesc textarea').innerHTML='akufbkausbfkluaj'
</script>
{% endblock %}