{% extends "ad_base.html" %}
{% set active_page = 'revenue' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
My Flask App
{% endblock %}

{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
   <h1 class="heading" >MANAGE SALE</h1>
  </div>
  <div class="col-md-6">
    <div class="row sortField" style="margin-top: 10vh">
        <form action="" id="quarterForm"></form>
        <div class="col">
          <label for="sort">Select Quarter</label>
          <select
            name="quarter"
            id="quarter"
            form="quarterForm"
            
          >
            <option value=""></option>
            <option value="1">Q1</option>
            <option value="2">Q2</option>
            <option value="3">Q3</option>
            <option value="4">Q4</option>
          </select>
          <label for="sort">Select Year</label>
          <select
            name="year"
            id="year"
            form="quarterForm"
            onchange="this.form.submit()"
          >
            <option value=""></option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
          </select>
        </div>
      </div>
</div>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Quarter</th>
        <th scope="col">Total Sale</th>
        <th scope="col">Total Items</th>
        <th scope="col">Increase/Decrease</th>
       
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for revenue in all_revenues%}
      
      <tr class="tbRow">
        <th  style="vertical-align: middle;" scope="row">{{revenue.year}}</th>
        <td style="vertical-align: middle;">{{revenue.quarter}}</td>
        <td style="vertical-align: middle;"> &euro;&nbsp; {{revenue.total_sale}}</td>
        <td style="vertical-align: middle;"> 1</td>
        <td style="vertical-align: middle; ">Up Down</td>

        <td style="vertical-align: middle;">
         
          <a id="deleteBtn" href="{{url_for('admin.DetailRevenue',year=revenue.year, quarter=revenue.quarter)}}">Detail</a>||
          <a id="deleteBtn" href="#">Print</a>
        
        </td>

      </tr>
      
{%endfor%}
    </tbody>
  </table>
  
</div>
{% endblock %}





