{% extends "ad_base.html" %}
{% set active_page = 'edit_product' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
My Flask App
{% endblock %}

{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
   <h1 class="heading" >MANAGE PRODUCT PAGE</h1>
  </div>
  <div class="col-md-6 mnPd">
    <a href="{{url_for('admin.ManageProduct',category='shoes')}}">Shoes</a>
    <a href="{{url_for('admin.ManageProduct',category='sneakers')}}">Sneakers</a>
    <a href="{{url_for('admin.ManageProduct',category='boots')}}">Boots</a>
    <a href="{{url_for('admin.ManageProduct',category='slippers')}}">Slipper</a>
    <a href="{{url_for('admin.ManageProduct',category='accessories')}}">Accessories</a>
  </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col" style="width: 50%">Desc</th>
        
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {%for product in products%}
      <tr class="tbRow">
        <th  style="vertical-align: middle;" scope="row">{{product.id}}</th>
        <td style="vertical-align: middle;">
            <img class="pdImg" src="{{ url_for('static',filename='assets/Product_Image/'+product.product_img)}}" alt="">
            <a href="/admin/edit_for/{{product.id}}">{{product.product_name}}</a></td>
        <td style="vertical-align: middle;"> &#163; {{product.price}}</td>
        <td style="vertical-align: middle; ">{{product.desc}}</td>
        
        <td style="vertical-align: middle;"><a id="stockBtn" href="/admin/check_stock/{{product.id}}">Check Stock</a>&nbsp;&nbsp;&nbsp;<a id="deleteBtn" href="/admin/delete/{{product.id}}">Delete</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  
</div>
{% endblock %}





