<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/header.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{% block title %}Flasky{% endblock %}</title>
        {% endblock %}
        
    </head>

    <body>

        {% block navbar %}
        <header>
            <container fluid>
              <div class="row logoImg">
                <img src="{{ url_for('static',filename='assets/Img/muroexe.png') }}" />
              </div>
              <div class="row">
                <div class="col-9 navLink">
                  <a href="#">Shoes</a>
                  <a href="#">Sneakers</a>
                  <a href="#">Slipers</a>
                  <a href="#">Boots</a>
                  <a href="#">Accessories</a>
                </div>
                <div class="col-3 userIcon">
                  <a href="#"><i class="bi bi-search"></i></a>
                  <a href="#"><i class="bi bi-person-fill"></i></a>
                  <a href="#"><i class="bi bi-cart-fill"></i></a>
                </div>
              </div>
            </container>
          </header>
        {% endblock %}

        {% block content %}
        <div class="container-fluid">
            <div class="row" style="margin-top: 50px;">
                <div class="col"></div> <!-- Fake column -->
                <div class="col-sm-10">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div>
                        {% block page_content %}{% endblock %}
                    </div>
                </div>
                <div class="col"></div> <!-- Fake column -->
            </div>
        </div>
        {% endblock %}

    </body>
</html>