<html>
  <head> 
  </head>
  <body>
    <p>Dear <b> {{ user.username }}, </b></p>
    <p>Welcome to <b>MuroEXE</b>!</p>
    <p>
      To confirm your account please
      <a class="confirmBtn" href="{{ url_for('auth.confirm', token=token, _external=True) }}">click here</a>.
    </p>
    <p>
      Alternatively, you can paste the following link in your browser's address
      bar:
    </p>
    <p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
    <p>Sincerely,</p>
    <p>MuroEXE</p>
    <p><small>Note: replies to this email address are not monitored.</small></p>
  </body>
</html>
