{% extends "bootstrap/base.html" %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/404.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/page.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/products.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/product_panel.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/font.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

  
  <title>{% block title %}Flasky{% endblock %}</title>
  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
</head>

<body>

  {% block navbar %}
  <header>
    <div class="container-fluid">
      <div class="row logoImg">
        <a href="/"><img src="{{ url_for('static',filename='assets/Img/muroexe.png') }}" /></a>
      </div>
      <div class="row">
        <div class="col-9 navLink">
          <a href="#">Shoes</a>
          <a href="#">Sneakers</a>
          <a href="#">Slipers</a>
          <a href="#">Boots</a>
          <a href="#">Accessories</a>
        </div>
        <div class="col-3 userIcon">
          <a href="#"><i class="bi bi-search"></i></a>
          <a href="#"><i class="bi bi-cart-fill"></i></a>

          <div class="dropdown">
            <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/auth/login">Sign In</a></li>
              <li><a class="dropdown-item" href="/auth/register">Sign Up</a></li>
            </ul>
          </div>

          </a>

        </div>
      </div>
    </div>
  </header>
  {% endblock %}

  {% block content %}

  <div style="padding: auto; z-index: 1; position: relative;">
    {% block page_content %}
    {% endblock %}
  </div>

  {% endblock %}
  <footer>
    <div class="container-flui">
      <div class="row">
        <div class="col-3">
          <h4>
            MuroExe World
          </h4>
          <a href="#"> <i class="bi bi-caret-right"></i> About us</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Sustainability and commitment</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Ordering for companies</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Design process</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Blog</a><br>
        </div>
        <div class="col-3">
          <h4>Information</h4>
          <a href="#"> <i class="bi bi-caret-right"></i> Help center</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Legal notice and privacy policy</a>
        </div>
        <div class="col-3">
          <h4>Buying Guide</h4>
          <a href="#"> <i class="bi bi-caret-right"></i> Before buying</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Shipping</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Returns policy</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Frequently ask question</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Choosing size</a><br>
        </div>
        <div class="col-3">
          <h4>Contact Us</h4>
          <h5>Muroexe</h5>
          <a href="#"> <i class="bi bi-telephone"></i> 971 21 00 93</a><br>
          <a href="#"> <i class="bi bi-envelope"></i> userexperience@muroexe.com</a><br>
          <a>Monday to Friday, from 09h to 18h.</a><br>
        </div>
      </div>
      <hr>
      <div class="row">
        <p>© Copyright SOA PROJECTS 2022. All rights reserved.</p>
      </div>
    </div>
  </footer>

  
</body>

</html>