{% extends "bootstrap/base.html" %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% block head %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user/information.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user/cart.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user/order.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/register.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/404.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/page.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/products.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/font.css') }}">

  <title>{% block title %}Flasky{% endblock %}</title>
  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
  
</head>

<body>

  {% block navbar %}
  <header>
    <div class="container-fluid">
      <div class="row logoImg">
        <a href="/"><img src="{{ url_for('static',filename='assets/Img/muroexe.png') }}" /></a>
      </div>
      <div class="row">
        <div class="col-9 navLink">
          <a href="{{url_for('main.listing',category='shoes')}}" class=" {{'nav_active' if active_page == 'shoes' else ''}} ">Shoes</a>
          <a href="{{url_for('main.listing',category='sneakers')}}" class=" {{'nav_active' if active_page == 'sneakers' else ''}} ">Sneakers</a>
          <a href="{{url_for('main.listing',category='slippers')}}" class=" {{'nav_active' if active_page == 'slippers' else ''}} ">Slippers</a>
          <a href="{{url_for('main.listing',category='boots')}}" class=" {{'nav_active' if active_page == 'boots' else ''}} ">Boots</a>
          <a href="{{url_for('main.listing',category='accessories')}}" class=" {{'nav_active' if active_page == 'accessories' else ''}} ">Accessories</a>
        </div>
        <div class="col-3 userIcon">
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('auth.logout') }}">Logout</a>
          <a href="{{ url_for('auth.GetCart')}}">Cart</a>
          <a href="{{ url_for('auth.infor')}}">{{current_user.username}}</a>
          {% else %}
          <a href="{{ url_for('auth.login') }}">Login</a>
          <a href="{{ url_for('auth.register') }}">Register</a>
          {% endif %}


          </a>

        </div>
      </div>
    </div>
  </header>
  {% endblock %}

  {% block content %}
  {% for message in get_flashed_messages() %}
  <center>
    <div class="alert alert-warning alert-dismissible fade show" role="alert"
      style="position:absolute; z-index:99; margin-left: 40vw;">

      <button style="border: none; background-color:rgba(0, 0, 0, 0);" type="button" class="close" data-dismiss="alert">&times;</button>
      {{message}}
    </div>
  </center>
  {% endfor %}
  <div style="padding: auto; z-index: 1; position: relative;">
    {% block page_content %}
    {% endblock %}
  </div>
  <footer>
    <div class="container-flui">
      <div class="row">
        <div class="col-3">
          <h4>
            MuroExe World
          </h4>
          <a href="/about"> <i class="bi bi-caret-right"></i> About us</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Sustainability and commitment</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Ordering for companies</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Design process</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Blog</a><br>
        </div>
        <div class="col-3">
          <h4>Information</h4>
          <a href="#"> <i class="bi bi-caret-right"></i> Help center</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Legal notice and privacy policy</a>
        </div>
        <div class="col-3">
          <h4>Buying Guide</h4>
          
          <a href="#"> <i class="bi bi-caret-right"></i> Before buying</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Shipping</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Returns policy</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Frequently ask question</a><br>
          <a href="#"> <i class="bi bi-caret-right"></i> Choosing size</a><br>
        </div>
        <div class="col-3">
          <h4>Contact Us</h4>
          <h5>Muroexe</h5>
          <a href="#"> <i class="bi bi-telephone"></i> 971 21 00 93</a><br>
          <a href="#"> <i class="bi bi-envelope"></i> userexperience@muroexe.com</a><br>
          <a>Monday to Friday, from 09AM to 18PM.</a><br>
        </div>
      </div>
      <hr>
      <div class="row">
        <p>© Copyright SOA PROJECTS 2022. All rights reserved.</p>
      </div>
    </div>
  </footer>


  <script type="text/javascript">
    setTimeout(function () {
      $('.alert').alert('close');
    }, 5000);
  </script>
  <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
  <script>
    console.log("Rellax Library Is Running")
    var rellax = new Rellax(".rellax", {
      horizontal: false,
      vertical: true,
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    console.log("AOS Library Is Running")
    AOS.init();
  </script>

  {% endblock %}



</body>

</html>