{% extends "base.html" %}

{% block title %}
My Flask App
{% endblock %}

{% block page_content %}

<div class="row herobanner ">
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static',filename='assets/Img/banner3.png') }}" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static',filename='assets/Img/banner2.png') }}" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static',filename='assets/Img/banner1.png') }}" class="d-block w-100" alt="..." />
            </div>
        </div>
    </div>
    <div class="scroll_down">
        <h4>Scroll down</h4>
        <h4><i class="bi bi-arrow-down-circle"></i></h4>
    </div>
</div>

<div class="container-fluid productlineup rellax" data-rellax-speed="3" data-rellax-zindex="5">
    <h1 class="rellax pdLines" data-rellax-speed="0.5" data-aos="zoom-in">
        Product Lines
    </h1>
    <div class="row">
        <div class="col-md-1">
            <span>&nbsp;</span>
        </div>
        <div class="col-md-3" data-aos="fade-up">
            <a href="#"><img src="{{ url_for('static',filename='assets/Img/Mask group-1.png') }}" /></a>
        </div>
        <div class="col-md-3" data-aos="fade-up">
            <a href="#"><img src="{{ url_for('static',filename='assets/Img/Mask group-2.png') }}" /></a>
        </div>
        <div class="col-md-1">
            <span>&nbsp;</span>
        </div>
        <div class="col-md-4" data-aos="fade-up">
            <h1 class="rellax pdMoto" data-rellax-speed="-1">
                WE ARE <br />
                #DOTHEFUTURE
                <br />
            </h1>
            <h6 class="rellax mt-5" data-aos="fade-down" data-rellax-speed="-1">
                We create technical and minimalist products for everyday life. All our products are vegan and with a
                strong sustainable component. <br />
                <br />
                Also, we involve our user in all creative processes to create the perfect product, designed by and for
                them. <br />
                <br />
                We are design. We are comfort. We are commitment. <br />
                <br />
                <br />

            </h6>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <span>&nbsp;</span>
        </div>
        <div class="col-md-3" data-aos="fade-up">
            <a href="#"><img src="{{ url_for('static',filename='assets/Img/Mask group-3.png') }}" /></a>
        </div>
        <div class="col-md-3" data-aos="fade-up">
            <a href="#"><img src="{{ url_for('static',filename='assets/Img/Mask group.png') }}" /></a>
        </div>
    </div>
</div>

<div class="container-fluid py-2 pdPanel rellax" data-aos="fade-down" data-rellax-speed="1.5" data-rellax-zindex="10">
    <h1 class="rellax" data-rellax-speed="1" data-aos="fade-up"><u>Featured Product</u></h1>

    <div class="row d-flex pdRow rellax  flex-row flex-nowrap" data-rellax-speed="0.75">
    {% for product in products%}
        <div class="col-3">
            <div class="pdCard container">
                <div class="row pdBanner">
                    <div class="col-9">
                        <h6>New Arrival</h6>
                    </div>
                    <div class="col-3">
                        <a href="#"><i class="bi bi-heart"></i></a>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ url_for('static',filename='assets/Product_Image/'+product.product_img) }}" alt="...">
                </div>

                <div class="pdInf">
                    <div class="row pdName">
                        <h2>{{product.product_name}}</h2>
                    </div>
                    <div class="row pdPrice">
                        <div class="col-8">
                            <h5>&#163; {{product.price}}.00</h5>
                            <p>Free shipping</p>
                        </div>
                        <div class="col-4"><a href="/product/{{product.id}}"><i class="bi bi-bag-fill"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}

    <div class="col-3">
        <div class="pdCard container">
            <div class="row pdBanner">
                <div class="col-9">
                    <h6>New Arrival</h6>
                </div>
                <div class="col-3">
                    <a href="#"><i class="bi bi-heart"></i></a>
                </div>
            </div>

            <div class="row">
                <img src="{{ url_for('static', filename='assets/products/custom.jpg')}}" />
            </div>

            <div class="pdInf">
                <div class="row pdName">
                    <h2>Atom Custom White</h2>
                </div>
                <div class="row pdPrice">
                    <div class="col-8">
                        <h5>&#163; 119.00</h5>
                        <p>Free shipping</p>
                    </div>
                    <div class="col-4"><a href="/product"><i class="bi bi-bag-fill"></i></a></div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-3">
            <div class="pdCard container">
                <div class="row pdBanner">
                    <div class="col-9">
                        <h6>New Arrival</h6>
                    </div>
                    <div class="col-3">
                        <a href="#"><i class="bi bi-heart"></i></a>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ url_for('static', filename='assets/products/custom2.jpg')}}" />
                </div>

                <div class="pdInf">
                    <div class="row pdName">
                        <h2>Atom Custom Black</h2>
                    </div>
                    <div class="row pdPrice">
                        <div class="col-8">
                            <h5>&#163; 119.00</h5>
                            <p>Free shipping</p>
                        </div>
                        <div class="col-4"><a href="#"><i class="bi bi-bag-fill"></i></a></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-3">
            <div class="pdCard container">
                <div class="row pdBanner">
                    <div class="col-9">
                        <h6>New Arrival</h6>
                    </div>
                    <div class="col-3">
                        <a href="#"><i class="bi bi-heart"></i></a>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ url_for('static', filename='assets/products/juno-birdie-pink.png')}}" />
                </div>

                <div class="pdInf">
                    <div class="row pdName">
                        <h2>Juon Birdie Pink</h2>
                    </div>
                    <div class="row pdPrice">
                        <div class="col-8">
                            <h5>&#163; 119.00</h5>
                            <p>Free shipping</p>
                        </div>
                        <div class="col-4"><a href="#"><i class="bi bi-bag-fill"></i></a></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-3">
            <div class="pdCard container">
                <div class="row pdBanner">
                    <div class="col-9">
                        <h6>New Arrival</h6>
                    </div>
                    <div class="col-3">
                        <a href="#"><i class="bi bi-heart"></i></a>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ url_for('static', filename='assets/products/startup-evolve-blue.png')}}" />
                </div>

                <div class="pdInf">
                    <div class="row pdName">
                        <h2>Startup Evolve Blue</h2>
                    </div>
                    <div class="row pdPrice">
                        <div class="col-8">
                            <h5>&#163; 119.00</h5>
                            <p>Free shipping</p>
                        </div>
                        <div class="col-4"><a href="#"><i class="bi bi-bag-fill"></i></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="pdCard container">
                <div class="row pdBanner">
                    <div class="col-9">
                        <h6>New Arrival</h6>
                    </div>
                    <div class="col-3">
                        <a href="#"><i class="bi bi-heart"></i></a>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ url_for('static', filename='assets/products/alpha-neo-pink.png')}}" />
                </div>

                <div class="pdInf">
                    <div class="row pdName">
                        <h2>Alpha Neo Pink</h2>
                    </div>
                    <div class="row pdPrice">
                        <div class="col-8">
                            <h5>&#163; 119.00</h5>
                            <p>Free shipping</p>
                        </div>
                        <div class="col-4"><a href="#"><i class="bi bi-bag-fill"></i></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="pdCard container">
                <div class="row pdBanner">
                    <div class="col-9">
                        <h6>New Arrival</h6>
                    </div>
                    <div class="col-3">
                        <a href="#"><i class="bi bi-heart"></i></a>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ url_for('static', filename='assets/products/alpha-neo-beige.png')}}" />
                </div>

                <div class="pdInf">
                    <div class="row pdName">
                        <h2>Alpha Neo Beige</h2>
                    </div>
                    <div class="row pdPrice">
                        <div class="col-8">
                            <h5>&#163; 119.00</h5>
                            <p>Free shipping</p>
                        </div>
                        <div class="col-4"><a href="#"><i class="bi bi-bag-fill"></i></a></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-3">
            <div class="pdCard container">
                <div class="row pdBanner">
                    <div class="col-9">
                        <h6>New Arrival</h6>
                    </div>
                    <div class="col-3">
                        <a href="#"><i class="bi bi-heart"></i></a>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ url_for('static', filename='assets/products/california-white.jpg')}}" />
                </div>

                <div class="pdInf">
                    <div class="row pdName">
                        <h2>California White</h2>
                    </div>
                    <div class="row pdPrice">
                        <div class="col-8">
                            <h5>&#163; 119.00</h5>
                            <p>Free shipping</p>
                        </div>
                        <div class="col-4"><a href="#"><i class="bi bi-bag-fill"></i></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="pdCard container">
                <div class="row pdBanner">
                    <div class="col-9">
                        <h6>New Arrival</h6>
                    </div>
                    <div class="col-3">
                        <a href="#"><i class="bi bi-heart"></i></a>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ url_for('static', filename='assets/products/california-grey.jpg')}}" />
                </div>

                <div class="pdInf">
                    <div class="row pdName">
                        <h2>California Grey</h2>
                    </div>
                    <div class="row pdPrice">
                        <div class="col-8">
                            <h5>&#163; 119.00</h5>
                            <p>Free shipping</p>
                        </div>
                        <div class="col-4"><a href="#"><i class="bi bi-bag-fill"></i></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="pdCard container">
                <div class="row pdBanner">
                    <div class="col-9">
                        <h6>New Arrival</h6>
                    </div>
                    <div class="col-3">
                        <a href="#"><i class="bi bi-heart"></i></a>
                    </div>
                </div>

                <div class="row">
                    <img src="{{ url_for('static', filename='assets/products/california-brown.jpg')}}" />
                </div>

                <div class="pdInf">
                    <div class="row pdName">
                        <h2>California Brown</h2>
                    </div>
                    <div class="row pdPrice">
                        <div class="col-8">
                            <h5>&#163; 119.00</h5>
                            <p>Free shipping</p>
                        </div>
                        <div class="col-4"><a href="#"><i class="bi bi-bag-fill"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row about_container">
    <div class="col-md-9 mx-auto about">
        <h1>About us.</h1>
        <h2>We dress a generation of urban professionals, creatives and innovators that need functional yet modern
            products for their everyday lives.</h2>
        <hr>
        <div class="row about_info">
            <div class="col-md-4">
                <b>History.</b><br>
                We were born on September 1st 2013. The first day we sold 11 pairs. The second day 3 and the third, 0.
                We went for a walk to think about what were we donig. After that, unexpectedly, in two months, we were
                sold out. Today we are team of more than 40 people in our HQ and retail stores. Additionally, we also
                collaborate with agencies, distributors, photographers and ambassadors from all over the world.
            </div>
            <div class="col-md-4">
                <b>Our values.</b><br>
                Balanced between functionality, aesthetics and minimalism with a less is more approach to design.
                User-centric in all design processes, experimentation, innovation, and future outlook. We manufacture in
                places with happy people in good working conditions.
            </div>
            <div class="col-md-4">
                <b>We like.</b><br>
                Muroexe is simplicity, it's the future, creativity, well thought out products, weird, extraterrestrial,
                artificial intelligent, Netflix, an HBO series, industrial, post-humanism, different, the possibility to
                populate Mars, science and always foward looking. <br>
                <b>
                    There are people who love what we do. And people who don't understand anything.</b>
            </div>

        </div>
        <hr>
    </div>
</div>

{% endblock %}